@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.light-mode-hidden {
  display: none;
}

.dark-mode-hidden {
  display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
  .light-mode-hidden {
    display: block;
  }

  .dark-mode-hidden {
    display: none;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    var(--font-geist-sans),
    system-ui,
    -apple-system,
    sans-serif;
}

.content-width {
  max-width: clamp(45ch, 90vw, 65ch);
  margin-left: auto;
  margin-right: auto;
}
